@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather&family=Space+Mono&family=Work+Sans:wght@100&display=swap');

/* Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 70%;
    scroll-behavior: smooth;

}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    
}



.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2.4rem;

}

.main-logo {
    height: 75px;
    width: 75px;
    position: fixed;
    top: 0;
    left: 0;
}

.container-fluid {
    width: 100%;
    margin-bottom: 0;
    background-size: contain;
    background-color: black;
    height: 75px;
    position: fixed;
    z-index: 2000;

}

h1 {
    font-family: "arizonia", sans-serif;
}

/* header */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 9rem;
    z-index: 1;
    background: rgba(9,9,9,.8);
}

.logo  {
    cursor: pointer;
    z-index: 50;
}

.nav  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.open .nav::before {
   opacity: 1;
   pointer-events: all;
}

.nav_button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
    text-align: center;
    cursor: pointer;
}

.nav_icon {
    position: relative;
    margin-top: 2.5rem;
}

.nav_icon,
.nav_icon::before,
.nav_icon::after {
    width: 2.5rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
}

.nav_icon::before,
.nav_icon::after {
    content: "";
    position: absolute;
    right: 0;
    transition: all 0.2s;
}

.nav_icon::before {
    top: -0.7rem;

}
 
.nav_icon::after {
    top: 0.7rem;
}

.open .nav_icon {
    background-color: transparent;

}

.open .nav_icon::before {
    top: 0;
    transform: rotate(135deg);

}

.open .nav_icon::after {
    top: 0;
    transform: rotate(-135deg);

}

.nav-list  {
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 50vh;
    background-color: #252525;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.5s;
    font-family: "arizonia", sans-serif;

}

.nav-display-desktop {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}

.nav-item {
    border-bottom: 2px solid rgba(225, 225, 255, .3);

}

.nav-link   {
    display: block;
    color: white;
   
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color 0.5s;
    
}

.nav-link:hover {
    color: #d8153c;
}

.icons {
    list-style: none;
    font-size: 2rem;
    color: white;
    display: flex;
    z-index: 50;

}

.icon {
    cursor: pointer;
}

.icon button {
    cursor: pointer;
}

.icon:not(:last-child) {
    margin-right: 1rem;

}


/* hero */

.hero {
    width: 100%;
    height: 135vh;
    background: url("Img/Ramen_03.png") no-repeat center black;
    background-color: black;
    background-size: cover;
    display: flex;
    align-items: center;
    border: solid black;
    box-shadow: 2rem;
    justify-content: center;
    text-align: center;
}

/* .hero img {
    width: 80%;
    height: 70%;
    background: none;

 

} */

#hero-image {
    width: 100%;
}

.quality    {
    font-size: 1.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #e2e2d9;

}

.title  {
    font-size: 5rem;
    color: #fff;
    padding-top: 10rem;
} 


/* about */

.about {
    width: 100%;
    background-color: #f9f9f9;
    padding-bottom: 10rem;


}

#mummyramen {
    width: 15%;
    max-width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    margin-right: 50px;
    margin-top: 75px;
    padding-bottom: 5px;
}


.about-container {
    width: 80%;
    margin: auto;
}

.about-content {
   
}

.about-slides {
    margin: auto;
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutSlides {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.about h2 {
    margin-bottom: 2rem;
}

.about-slides img {
    width: 100%;
    height: 200px;
    margin-top: 20px;
 

}



.section-title {
    text-align: center;
    font-size: 4rem;
    font-family: "Arizonia", sans-serif;
    padding-top: 68px;
}

/* menu */

#cartoonpanda {
    width: 15%;
    max-width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    margin-left: 50px;
    margin-top: 75px;
    padding-bottom: 5px;
       
}

.menu {
    box-sizing: border-box;
    width: 100%;
    color: white;
    background-color: black;
    padding-bottom: 10rem;

}

.menu h2 {
    margin-bottom: 2rem;
}

.menu p {
    padding-bottom: 20px;
}


.menu-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.mySlides {
  
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding-top: 10px;
  }

  .mySlides img {
      height: 600px;
    
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
   
  }

  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .prev {       
    left: 0;
    border-radius: 3px 0 0 3px;
    margin: auto;
  }

  .next {       
    right: 0;
    border-radius: 3px 0 0 3px;
    margin: auto;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
 

  
  /* Six columns side by side (decided to not show atm) */
  .column {
    float: left;
    width: 20%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }



/* hours */
.hours {
    width: 80%;
    background-color: white;
    padding-bottom: 10rem;
    margin: auto;
    font-size: larger;

}
.hours h2 {
    margin-bottom: 5rem;

}

.hours-container {
   
}

.hours-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: auto;
   

}

.hours tbody {
    display: table-row-group;
    vertical-align: right;
    margin: auto;
    
    
  
}

.hours table {
    width: 300px;
    text-align: left;
 

}

#rammenbanner {
    width: 50%;


}


/* location */

.location {
    width: 100%;
    margin: auto;
    background-color: black;
  
    color: white;
   
}
.location h2 {
    margin-bottom: 2rem;
}

.location-container {
   
}

.location-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
   
}

address {
    font-size: medium;
    margin-bottom: 5rem;
    text-align: center;
}  

iframe {
    width: 100%;
    height: 300px;
    margin: auto;
}

#cartoondog {
    width: 15%;
    max-width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    margin-right: 50px;
    margin-top: 75px;
    padding-bottom: 5px;
}

/*owner section

.owner-content {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#owner-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
 */

footer {
        
        width: 100%;
        height: auto;
        background-color: black;
        color: white;
        padding: auto;

}


.footer-container {
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: auto;
}

.footer-container h2 {
    position: relative;
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: left;

}

.footer-container p {
    text-align: start;
}

footer h2 {
    font-family: "arizonia", sans-serif;
}

.footer2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 80px;
}

.faq {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: center;


}

.contact-section {
        display: flex;
        flex-direction: column;
       
        align-items: center;

    

}

.footer-animated-imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.footer-social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.fa {
   padding: 10px;
   height: auto;
   width: auto;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook-f {
    background: #3B5998;
    color: white;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
  }

  .fa-instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
    border-radius: 50%;
}






@media screen and (max-width: 959px) {
 #bulgogiBowl {
        display: none;
    }

.hero {
        width: 100%;
        height: 60vh;
        background: url("Img/Ramen_03.png") no-repeat center black;
        background-color: black;
        background-size: cover;
        display: flex;
        align-items: center;
        border: solid black;
        box-shadow: 2rem;
        justify-content: center;
        text-align: center;
    }


  
    
.footer-animated-imgs {
    display: none;
}
}


/* small tablet */
@media screen and (min-width: 620px) {




.footer-container {
   width: 100%;
   display: grid;
   grid-template-columns: .80fr 1fr;
  
}



.footer-animated-imgs img {
    height: 150px;
    width: 150px;
   
    
}

.footer-social-links {
    margin: auto;
}


}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
    .container-fluid {
    }

    html {
        font-size: 85%;
    }
    
    .nav-display-desktop {
    display: flex;
    right: 0;
    top: 0;
    }

    .nav-display-desktop li {
        display:inline;
        margin: auto;
        padding: auto;
        font-size: 30px;
     

    }

    .nav-display-desktop ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      .nav-display-desktop ul li {
        float: left;
      }
      
      .nav-display-desktop ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: "arizonia", sans-serif;
      }
    .nav_button {
        display: none;
    }

    #mobileNavIcons {
        display: none;
    }

    .nav-display-desktop ul li a:hover  {
        color: #d8153c;
    }

    .animatedramenimgs {
        display: none;

    }

    iframe {
        width: 100%;
        height: 500px;
        margin-bottom: 40px;
       
    }

    #bibimbap {
        display: none;
    }
/* menu */

.menu-container {
    width: 50%;

}

.mySlides {
    width: 100%;
    margin: auto;
    padding-top: 10px;
  }


  .mySlides img {
    height: 680px;
    width: 50%
}


.caption-container {
    height: 4vh;
}

/* about */



.about img {
    width: 30%;
    height: 400px;
    margin: auto;
}


.about-slides {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
 }

 .about-slides-imgs {
     display: flex;
     flex-direction: row;
 }

.footer-container {
    font-size: larger;
} 

}

/* desktop styles */


@media screen and (min-width: 1200px) {
    
}